
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logado Motorista</title>
    <link rel="stylesheet" href="{{url_for('static', filename='adicionar_usuario.css')}}">
    
    <link rel="stylesheet" href="{{url_for('static', filename='menu_lateral_motorista.css')}}"><!--Link para o CSS de menu lateral-->
    <link rel="stylesheet" href="{{url_for('static', filename='conteiner-valor.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body class="corpo">
    
    <div class="conteiner-valor">
        <div class="valor">
            <div class="dinheiro"> <span class="cifrao">R$</span> 83,00</div>
            <div class="hoje">HOJE</div>
            <hr class="hr-cor">
            <div class="viagens-concluidas">16 viagens concluídas</div>
            <div class="ver-todas-viagens">VER TODAS AS VIAGENS</div>
        </div>
    </div>
    
    

    
    <!--Ícone do menu-->
    <div class="menu-icon"  onclick="toggleSidebar()">☰</div>

    <!--Sidebar-->
    <div class="sidebar" id="sidebar">
        <div class="sidebar-content">
            <h2>Menu</h2>
            <ul>
                <li><p>Usuário: <strong>{{ nome }}</strong></p></li>
                <li>Perfil</li>
                <li>Ganhos</li>
                <li>Configurações</li>
                <li>Ajuda</li>
                <li>Sair</li>
                <li><a href="/login">Adicionar outro usuário</a></li>
                <li><a href="/">Voltar para a página inicial</a></li>
            </ul>
        </div>
    </div>

    <!-- Overlay para fechar a sidebar -->
    <div class="overlay" id="overlay" onclick="toggleSidebar()"></div>

    <script>
        function toggleSidebar(){
            const sidebar = document.getElementById('sidebar');
            const overlay = document.getElementById('overlay');
            sidebar.classList.toggle('open');
            overlay.classList.toggle('active');
        }

    </script>
</body>
</html>
