<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rapidão</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
    <div class="rapidao"><img width="400px" src="/static/rapidaoalpha.png" alt="logo" ></div>
    
    <div class="botao_iniciar"><a href="/login" class="uber-button">Iniciar</a></div>
    
    <div class="image-container"><img  width="400" src="/static/image_car_grok.jpg" alt=""></div>
</body>
</html>